In [17]:
import pandas as pd

In [18]:
print(pd.__version__)

2.0.0

In [22]:
data = [['tom', 10], ['nick', 15], ['juli', 14]]

df = pd.DataFrame(data, columns=['Name', 'Age'])

In [32]:
df.style.format({"Age": '${:.0f}'})

__NOTE:__ `style.format` works as an HTML formatter. It will not print out pretty to console.
It will also not print out if `.transpose()` is called.
It only works on columns, so if a row-specific format is required, the column must be formatted with conditional statements like `if`.